/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null  // unpublished
                } else if (filename.endsWith('data.json')) {
                    return null  // unpublished
                } else if (filename.endsWith('metrics.json')) {
                    return null  // unpublished
                } else {
                    return filename
                } 
            }
        ],
        [
            path: { "${params.outdir}/released" },
            mode: 'copy',
            pattern: '*report.html'
        ]
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: FILTER_GTF {
        ext.args = { [
            params.keep_attributes ? "--attributes ${params.keep_attributes}" : '',
            params.skip_intron ? "--skip_intron" : '',
        ].join(' ') }
    }

    withName: STAR_INDEX {
        ext.args = { [
            params.mt_gene_list ? "--mt_gene_list ${params.mt_gene_list}" : '',
            params.keep_attributes ? "--attributes ${params.keep_attributes}" : '',
            params.STAR_param ? "--STAR_param ${params.STAR_param}": '',
            params.dry_run ? "--dry_run": '',
        ].join(' ') }
    }

    withName: SAMPLE {
        ext.args = params.debug_log ? '--debug' : ""
    }

    withName: STARSOLO {
        ext.args = { 
            def currentFeatures   = params.soloFeatures ? params.soloFeatures.tokenize() : []
            def requiredFeatures  = ['GeneFull_Ex50pAS', 'Gene']
            def finalFeaturesList = (currentFeatures + requiredFeatures).unique()
            def featuresJoined = finalFeaturesList.join(' ')
            def args_list = []                        
            args_list << "--soloFeatures \"${featuresJoined}\""
            if (params.debug_log) {
                args_list << "--debug"
            }
            def optionalParams = [
                "--chemistry"          : params.chemistry,
                "--pattern"            : params.pattern,
                "--whitelist"          : params.whitelist,
                "--adapter_3p"         : params.adapter_3p,
                "--outFilterMatchNmin" : params.outFilterMatchNmin,
                "--SAM_attributes"     : params.SAM_attributes,
                "--soloCellFilter"     : params.soloCellFilter,
                "--limitBAMsortRAM"    : params.limitBAMsortRAM,
                "--outSAMtype"         : params.outSAMtype,
                "--soloCBmatchWLtype"  : params.soloCBmatchWLtype,
                "--report_soloFeature" : params.report_soloFeature,
                "--STAR_param"         : params.STAR_param,
            ]
            optionalParams.each { flag, value ->
                if (value) args_list << "${flag} ${value}"
            }
            return args_list.join(' ').trim()
        }

        publishDir = [
            [
                path: { "${params.outdir}/released" },
                mode: 'copy',
                pattern: "*outs/{filtered,raw}"
            ],
            [
                path: { "${params.outdir}/starsolo" },
                mode: params.publish_dir_mode, 
                saveAs: { filename ->
                    if (filename.contains('outs/filtered') || filename.contains('outs/raw')) {
                        return null
                    } else {
                        return filename
                    }
                }
            ]
        ]
    }

    withName: ANALYSIS {
        ext.args = params.debug_log ? '--debug' : ""
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
